
@{
    ViewBag.Title = "AddHouse_2";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div class="contact" style="margin-bottom: 50px">
    <h2>Add a house in your list</h2>
    <div class="container">
        <form action="/" method="post">
            <input type="text" placeholder="NAME" required="">
            <input type="text" placeholder="NAME" required="">
            <input type="text" placeholder="NAME" required="">
            <input type="text" placeholder="NAME" required="">
            <input type="text" placeholder="NAME" required="">
        </form>
        

    </div>
</div>