
@{
    ViewBag.Title = "AddHouse";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}


    <div class="contact" style="margin-bottom: 50px">
        <h2>Add a house in your list</h2>
        <div class="container">
       
            <h1>Choose your location</h1>
            <form>
                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:35px;">
                        <label>Province</label>
                    </div>
                    <div>
                        <select id="province" style="width:180px"></select>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:45px;">
                        <label>District</label>
                    </div>
                    <div>
                        <select id="district" style="width:180px"> </select>
                    </div>
                </div>

                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:59px;">
                        <label>Ward</label>
                    </div>
                    <div>
                        <select id="ward" style="width:180px"></select>
                    </div>
                </div>

                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:56px;">
                        <label>Street</label>
                    </div>
                    <div>
                        <select id="street" style="width:180px">
                        </select>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:65px;">
                        <label>Area</label>
                    </div>
                    <div>
                        <select id="area" style="width:180px">
                        </select>
                    </div>
                </div>
                <div style="margin-bottom:10px;">
                    <div style="float:left;margin-right:10px;">
                        <label>Address Detail</label>
                    </div>
                    <div>
                        <input type="text" placeholder="Address Detail" id="address_detail" required="" style="width:180px;">
                    </div>
                </div>
                <input type="button" value="Next" id="btn_next_1" >
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            CHUNG_GAN_DL_COMBO('district', '', '');
            CHUNG_GAN_DL_COMBO('ward', '', '');
            CHUNG_GAN_DL_COMBO('street', '', '');
            CHUNG_GAN_DL_COMBO('area', '', '');

            //View all province
            $.ajax({
                url: "https://localhost:44320/api/Address/ViewProvince",
                success: function (result) {
                    CHUNG_GAN_DL_COMBO('province', '', result);
                }
            });
            //View all district
            $("#province").unbind('change');
            $("#province").bind('change', function () {
            var province_id = $('#province').val();
                if (province_id != "") {
                    $.ajax({
                        url: "https://localhost:44320/api/Address/ViewDistrict?province_id=" + province_id,
                        success: function (result) {
                            CHUNG_GAN_DL_COMBO('district', '', result);
                        }
                    });
                    CHUNG_GAN_DL_COMBO('ward', '', '');
                    CHUNG_GAN_DL_COMBO('street', '', '');
                    CHUNG_GAN_DL_COMBO('area', '', '');
                } else {
                    CHUNG_GAN_DL_COMBO('district', '', '');
                    CHUNG_GAN_DL_COMBO('ward', '', '');
                    CHUNG_GAN_DL_COMBO('street', '', '');
                    CHUNG_GAN_DL_COMBO('area', '', '');
                }
               

            });
            //View all ward
            $("#district").unbind('change');
            $("#district").bind('change', function () {
                var district = $('#district').val();
                var province = $('#province').val();
                if (district != "" && province !="") {
                    $.ajax({
                        url: "https://localhost:44320/api/Address/ViewWard?province_id=" + province + "&district_id=" + district,
                        success: function (result) {
                            CHUNG_GAN_DL_COMBO('ward', '', result);
                        }
                    });
                    $.ajax({
                        url: "https://localhost:44320/api/Address/ViewStreet?province_id=" + province + "&district_id=" + district,
                        success: function (result) {
                            CHUNG_GAN_DL_COMBO('street', '', result);
                        }
                    });
                    $.ajax({
                        url: "https://localhost:44320/api/Address/ViewArea?province_id=" + province + "&district_id=" + district,
                        success: function (result) {
                            CHUNG_GAN_DL_COMBO('area', '', result);
                        }
                    });
                } else {
                    CHUNG_GAN_DL_COMBO('ward', '', '');
                    CHUNG_GAN_DL_COMBO('street', '', '');
                    CHUNG_GAN_DL_COMBO('area', '', '');
                }
            });




            $("#btn_next_1").unbind('click');
            $("#btn_next_1").on('click', function () {
                localStorage.setItem('province', $('#province').val());
                localStorage.setItem('district', $('#district').val());
                localStorage.setItem('ward', $('#ward').val());
                localStorage.setItem('street', $('#street').val());
                localStorage.setItem('area', $('#area').val());
                localStorage.setItem('address_detail', $('#address_detail').val());
                window.location.href = '/Home/Index';
            });
          
        });
    </script>
